on init
    start bootlogo

# For verizon partition [START]
    wait /dev/block/platform/msm_sdcc.1/by-name/eri
    wait /dev/block/platform/msm_sdcc.1/by-name/operatorlogging
    exec /sbin/setup_fs_static \
        /dev/block/platform/msm_sdcc.1/by-name/eri \
        /dev/block/platform/msm_sdcc.1/by-name/operatorlogging \
        no_reboot

on fs
    mkdir /eri 0771 system radio
    mkdir /vzw 0755 system system
    mkdir /vzw/quality 0755 system system

    wait /dev/block/platform/msm_sdcc.1/by-name/eri
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/eri
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/eri /eri nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue

    wait /dev/block/platform/msm_sdcc.1/by-name/operatorlogging
    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/operatorlogging
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/operatorlogging /vzw/quality nosuid nodev barrier=1 noatime noauto_da_alloc errors=continue

on post-fs-data
    chown system radio /eri
    chmod 771 /eri
    restorecon /eri

    chown system system /vzw/quality
    chmod 755 /vzw/quality
    restorecon /vzw/quality
# For verizon partition [END]

service bootlogo /sbin/bootlogo
    class core
    seclabel u:r:bootlogo:s0
    disabled
    oneshot

# [ENCRYPTION]For FIPS and applied only VZW,ATT,SPR and TMUS(NorthAmerica)
service ufips /system/bin/ufips
    class core
    user system
    group system

# [SDEncrypt]For enable SD Card Encryption
on init
    setprop ro.ssbd.session /dev/block/platform/msm_sdcc.1/by-name/eksst
    setprop ro.ssbd.offset 0

# Enable LGVPN_3_3_1 [START]
on post-fs
    mkdir /data/misc/vpnclientd 0770 system system

service vpnclientd /system/bin/vpnclientd
    class main
    socket vpnclientd seqpacket 0600 system system
    user system
    group system net_admin inet net_raw
    disabled

on property:service.vpnclientd.enable=1
    start vpnclientd
on property:service.vpnclientd.enable=0
    stop vpnclientd
# Enable LGVPN_3_3_1 [END]

# 2014.10.14 [jinyoungharry.kim@lge.com] LGIMS ipsec solution [START]
service ipsecclient /system/bin/ipsecclient
    class main
    group system net_admin net_raw
    disabled

service ipsecstarter /system/bin/ipsecstarter
    class main
    user system
    group system net_admin net_raw
# 2014.10.14 [jinyoungharry.kim@lge.com] LGIMS ipsec solution [END]

on boot
    # support device diagnostic management
    chmod 0440 /proc/cmdline
    chown system system /proc/cmdline

# LGE_CHANGE_S, 20130710, junsop.shin@lge.com, change tcp_syn_retries from 1 to 2
    write /proc/sys/net/ipv4/tcp_syn_retries 2
# LGE_CHANGE_E, 20130710, junsop.shin@lge.com, change tcp_syn_retries from 1 to 2

# Power
    chown system system /sys/class/leds/lcd-backlight/thermald_status
    chmod 644 /sys/class/leds/lcd-backlight/thermald_status

# charger_monitor service for chargerlogo
service charger_monitor /system/bin/charger_monitor qpnp_charger 400000 63
   user system
   group system
   disabled
